.hero-header {
  .swiper-container {
    height: 100%;
    width: 100%;
    z-index: auto;

    .swiper-wrapper {
      .swiper-slide {
        img {
          backface-visibility: hidden;
          height: 100%;
          object-fit: cover;
          pointer-events: none;
          width: 100%;

          @keyframes zoom-out {
            0% { transform: scale(1.4) }
            100% { transform: scale(1) }
          }
        }
      }
    }

    .swiper-pagination {
      bottom: 70px;
      
      .swiper-pagination-bullet {
        background: none;
        border-radius: 0;
        height: auto;
        opacity: 1;
        width: auto;
        
        svg {
          fill: white;
          fill-opacity: 0;
          height: 30px;
          stroke: white;
          width: 30px;
          -webkit-tap-highlight-color: rgba(gray, 0);
  
          @include media-query(tc) {
            height: 35px;
            width: 35px;
          }
        }

        &-active svg {
          animation: bounce 0.4s;
          fill-opacity: 1;

          @keyframes bounce {
            0% { transform: scale(0) }
            70% { transform: scale(1.1) }
            85% { transform: scale(0.9) }
            100% { transform: scale(1) }
          }
        }
      }
    }
  }
}