.wpcf7-form {
  .flex-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    
    @include media-query(sph) {
      align-items: center;
      flex-direction: row;

      label {
        flex: 0 0 150px;
        margin: 0 2em 0 0;
        text-align: right;
      }
    }

    .wpcf7-form-control-wrap {
      flex: 1 1 100%;
    }
  }

  .submit-container {
    text-align: center;
  }
}